* {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

button {
  border: 2px solid #fdfd96 !important;
  background: transparent !important;
  color: white !important;
  transition: 0.3s;
}
button:hover {
  background-color: #fdfd96 !important;
  transform: scale(1.1);
  color: black !important;
}

input,
textarea {
  background-color: #202325 !important;
  color: white !important;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.25),
    8px 30px 30px rgba(0, 0, 0, 0.4), inset -2px -2px 5px rgba(0, 0, 0, 0.3) !important;
}

div.ui.fluid.selection.dropdown {
  background-color: #202325 !important;
  color: white !important;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.25),
    8px 30px 30px rgba(0, 0, 0, 0.4), inset -2px -2px 5px rgba(0, 0, 0, 0.3) !important;
}
div.ui.active.visible.fluid.selection.dropdown {
  background-color: #202325 !important;
  color: white !important;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.25),
    8px 30px 30px rgba(0, 0, 0, 0.4), inset -2px -2px 5px rgba(0, 0, 0, 0.3) !important;
}

.box-shadow {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.25),
    8px 30px 30px rgba(0, 0, 0, 0.4), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
}
